@import "./src/styles/variables";
@import "./src/styles/mixins";

.home-payments {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  @include size(auto, 100%);
  @include font(400, 33px);

  .payments-main {
    margin-top: 25px;
    padding: 3vh 3vw;
    @include size(auto, 100%);
    background: $transparent-white;
    border-radius: 25px;

    .payments-current {
      text-align: center;
      color: #fff;
    }
  }
  .payments-coins {
    padding: 3vh 3vw 0 3vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    width: 100%;
  }
}
