@import "./src/styles/variables";
@import "./src/styles/mixins";

.coin-btn {
  @include size(75px, 75px);
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("http://localhost:3000/static/coin.png") center;
  background-size: cover;

  border: none;
  outline: none;

  font-weight: 700;

  cursor: pointer;
}
