@import "./src/styles/variables";
@import "./src/styles/mixins";

.coin-btn {
  @include size(60px, 60px);
  display: flex;
  justify-content: center;
  align-items: center;

  background: $coin-color;

  border: 2px solid darken($coin-color, 10%);
  border-radius: 50%;
  outline: none;

  cursor: pointer;
}