@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import "./centeredSection";
@import "./card";

* {
  font-family: "Ubuntu Mono", monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
}

