@import "./src/styles/variables";
@import "./src/styles/mixins";

.home__content {
  display: flex;
  justify-content: center;
  align-items: center;

  @include size(100vh, 75%);

  .content__machine {
    padding: 3vh 3vw;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    @include size(100%, 60%);
    background: url("http://localhost:3000/static/machine-bg.jpg");


    .machine__title {
      padding: 2.5vh 0;
      width: 100%;
      background: $transparent-white;
      border-radius: 10px;
      @include font(700, 33px);
      text-transform: uppercase;
      text-align: center;

      a {
        color: $white;
        text-decoration: none;
        cursor: default;
      }
    }

    .machine__items {
      padding-bottom: 3vh;
      margin-top: 3vh;
      @include size(auto, 100%);
      background: $transparent-white;
      border-radius: 10px;
    }
  }
}
