@import "./src/styles/variables";
@import "./src/styles/mixins";

.back-button {
  margin-top: 3vh;

  @include size(5vh, 100%);
  @include font(400, 18px);

  background: $success-color;
  color: $white;
  
  border-radius: 25px;
  border: none;
  outline: none;
  
  font-weight: 700;
  
  cursor: pointer;
  
  &.disabled {
    cursor: not-allowed;
  }
}
